*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

:root {
  --grey: hsl(219, 9%, 45%);
  --light-grey: hsl(223, 64%, 98%);
  --orange: hsl(26, 100%, 55%);
  --transparent-orange: hsla(26, 100%, 55%, 0.7);
  --light-orange: hsl(25, 100%, 94%);
}

/* header layout */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

header div:first-child button {
  margin-right: 15px;
}

/* cart and avatar wrapper */

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* cart icon color change */

.btn-wrapper button:first-child svg {
  color: var(--grey);
}

/* profile pic hover state */

.btn-wrapper button:nth-of-type(2) img:hover {
  outline: 3px solid var(--orange);
  border-radius: 50%;
}

.text {
  margin: 2rem;
}

.product-image {
  width: 100%;
  display: block;
}

.image-wrapper {
  position: relative;
}

/* positioning previous and next buttons */
/* setting % for height and width to make buttons scale with screen size */

.prev-next-btns {
  position: absolute;
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  height: 7%;
  width: 7%;
  z-index: 1;
  top: 50%;
}

/* setting % for height to make image within button to scale with screen size */

.prev-next-btns img {
  height: 60%;
  margin: 0 auto;
  display: block;
}

/* centering img within button */

.prev-next-btns.prev img {
  transform: translateX(-1px);
}

.prev-next-btns.next img {
  transform: translateX(1px);
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

/* hiding nav and thumbnails in mobile layout */

.logo-nav nav {
  display: none;
}

.thumbnails-wrapper {
  display: none;
}

/* styling buttons and font */

button {
  border: none;
  background: none;
  cursor: pointer;
}

h1 {
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.text > :first-child {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* product description */

.text p:nth-of-type(2) {
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--grey);
  margin-bottom: 1.5rem;
}

.prices-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.org-prices-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* discount */

.org-prices-wrapper span:nth-of-type(2) {
  background-color: black;
  color: white;
  padding: 0.2rem 0.5em;
  border-radius: 5px;
}

/* for h1 and price */

.bigger-font {
  font-size: 2rem;
}

.counter {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-grey);
  padding: 0.8rem;
  margin: 1.2rem 0;
  border-radius: 5px;
}

.counter button:first-child img {
  vertical-align: middle;
}

.counter button:first-child img:hover {
  opacity: 0.7;
}

.counter button:nth-of-type(2) img:hover {
  opacity: 0.7;
}

#cart-btn {
  background-color: var(--orange);
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: 20px 20px 20px var(--light-orange);
}

#cart-btn span {
  font-size: 0.8rem;
}

#cart-btn:hover {
  background-color: var(--transparent-orange);
}

.grey-font {
  color: var(--grey);
}

/* desktop layout */

@media (min-width: 850px) {
  body {
    overflow: clip;
  }
  .logo-nav div button {
    display: none;
  }
  header {
    border-bottom: 1px solid hsla(219, 9%, 45%, 0.3);
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .logo-nav nav {
    display: flex;
  }
  .logo-nav nav button {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--grey);
    position: relative;
  }
  .logo-nav nav button::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: var(--orange);
    transform: scaleX(0);
    transform-origin: center;
     transition: transform 0.1s ease-in-out;
  }
  .logo-nav nav button:hover {
    color: black;
  }
  .logo-nav nav button:hover::after {
    transform: scaleX(1);
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 80%;
    padding-top: 4.8rem;
    margin: 0 5% 0 12%;
  }
  .image-wrapper {
    max-height: 80%;
  }
  .text {
    max-width: 40%;
    margin: 0;
  }
  .product-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
  }
  .thumbnails-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .thumbnail {
    position: relative;
  }
  .thumbnail img {
    width: 100%;
    max-width: 75px;
    border-radius: 15px;
    cursor: pointer;
  }
  .thumbnail img:hover {
    opacity: 0.5;
  }
  .selected img {
    pointer-events: none;
    opacity: 0.3;
  }
  .selected::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 3px solid var(--orange);
    border-radius: 15px;
  }
  .prev-next-btns {
    display: none;
  }
  .prices-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .counter-cart-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  #cart-btn {
    flex: 2 1 15px;
    box-shadow: none;
  }
  .counter {
    flex: 1 2 15px;
  }
}
